//----------------------------------------
//- _head
//----------------------------------------
head
	//-文字コード
	meta(charset="utf-8")
	//-レスポンシブ対応
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
	//-IE最適化
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	//-電話番号・メルアド 自動リンクをやめる
	meta(name="format-detection" content="email=no,telephone=no,address=no")

	title #{page.title}｜おためしサイト

	meta(name="description" content=page.desc)
	//-キーワードは正直不要
	meta(name="keywords" content=page.keywords)

	//-検索エンジン 掲載(index)、巡回(follow)しないで欲しい
		meta(name="robots" content="noindex,nofollow")

	//-シェア
	//- meta(property="og:url" content="ページのURL")
	//- meta(property="og:title" content="ページのタイトル")
	//-↓トップページ → website、記事ページ → article
	//- meta(property="og:type" content="ページのタイプ")
	//- meta(property="og:description" content="記事の抜粋")
	//- meta(property="og:image" content="画像のURL")
	//- meta(property="og:site_name" content="サイト名")
	//- meta(property="og:locale" content="ja_JP")
	//-FacebookのアプリID。あまり使わないようだ
		meta(property="fb:app_id" content="appIDを入力")

	//-シェア-Twitter
	//-ツイートの表示種類。summary か summary_large_image
	//- meta(name="twitter:card" content="カード種類")
	//-関連させたいツイッターユーザー名。無ければ書かなくてよい
		meta(name="twitter:site" content="@Twitterユーザー名")

	//-CSS
	//-Font Awesomeを使う場合はこちら
		link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
	link(rel='stylesheet' href='/css/style.css' type='text/css')

	//-JSはなるべくフッターで呼びましょう
